<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <processMessage>
                <processor type="Sitecore.Support.Form.Core.Pipelines.ProcessMessage.ProcessMessage, Sitecore.Support.110301" method="SendEmail" patch:instead="processor[@method='SendEmail']" />
            </processMessage>
        </pipelines>
        <settings>
            <!-- Introduction of the new setting WFFM.ProcessMessage.SmtpClient.ServicePoint.MaxIdleTime.
            The setting is used to respect new System.Net.Mail.SmtpClient(..).ServicePoint.MaxIdleTime property.
            The SmtpClient and the setting is to be used in Sitecore.Support.Form.Core.Pipelines.ProcessMessage.ProcessMessage.SendEmail() method.
            Values:
                default empty "" value is for using untouched SmtpClient.
                Use values "1" or "2", according to the article https://stackoverflow.com/questions/930236/net-best-method-to-send-email-system-net-mail-has-issues
                You are not limited from setting it higher, up to 100000 and higher.
            -->
            <setting name="WFFM.ProcessMessage.SmtpClient.ServicePoint.MaxIdleTime" value=""/>
        </settings>
    </sitecore>
</configuration>